<!DOCTYPE html>
<html>
<head>
  <title><%= content_for(:title) %></title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<div class="main">
<div class="header">
  <div>How to Brew</div>
</div>
<div class="navbar">
 <div class="navbar-inner">
  <ul class="nav">
    <li id="home"><a href="<%= url_for(:action => 'index', :controller => 'home') %>">Home</a></li>
    <li id="equipment"><a href="<%= url_for(:action => 'index', :controller => 'article', :viewName => 'equipment-for-home-brewing')%>">Equipment</a></li>
  </ul>
 </div>
</div>

  <%= yield %>
</div>

</body>
</html>
